Repository concordant/c-sudoku: changes, and which GitLab CI jobs are due for each by the changed paths.
All: single-player, collaborative

.gitlab-ci.yml:

stages:
  - single-player-pipeline
  - collaborative-pipeline

single-player:
  stage: single-player-pipeline
  trigger:
    include: single-player/.gitlab-ci.yml
    strategy: depend
  only:
    changes:
      - single-player/**/*

collaborative:
  stage: collaborative-pipeline
  trigger:
    include: collaborative/.gitlab-ci.yml
    strategy: depend
  only:
    changes:
      - collaborative/**/*

Fix ESLint errors
  collaborative/src/components/Cell.test.tsx
  collaborative/src/components/Game.test.tsx
  collaborative/src/components/Grid.test.tsx
Due: collaborative

Remove useless brackets
  collaborative/src/components/Grid.tsx
Due: collaborative

Prettier: prettify codebase
  collaborative/package-lock.json
  collaborative/src/components/Cell.test.tsx
  collaborative/src/components/Game.test.tsx
  collaborative/src/components/Game.tsx
  collaborative/src/components/Grid.test.tsx
Due: collaborative

CI: Setup automatic website deployment
  collaborative/.gitlab-ci.yml
Due: collaborative

Refactor components and associated tests
  collaborative/src/components/Game.test.tsx
  collaborative/src/components/Game.tsx
  collaborative/src/components/Grid.test.tsx
  collaborative/src/components/Grid.tsx
  single-player/src/components/Game.test.tsx
  single-player/src/components/Game.tsx
  single-player/src/components/Grid.test.tsx
  single-player/src/components/Grid.tsx
Due: single-player, collaborative

Add call to pull method of the collection and update package.json
  collaborative/package-lock.json
  collaborative/package.json
  collaborative/src/components/Game.tsx
  single-player/package-lock.json
  single-player/package.json
Due: single-player, collaborative

Update changelog
  CHANGELOG.md
Due: none

Update package.json
  collaborative/package-lock.json
  collaborative/package.json
  single-player/package-lock.json
  single-player/package.json
Due: single-player, collaborative

Release v1.0.1
  CHANGELOG.md
  collaborative/package.json
  single-player/package.json
Due: single-player, collaborative

Add service worker file and ignore the file in the linter/prettier
  collaborative/.eslintignore
  collaborative/.prettierignore
  collaborative/public/c-service-worker.js
Due: collaborative

Pass handler when opening crdt
  collaborative/src/components/Game.tsx
Due: collaborative

Remove pooling but keep a backup periodic get
  collaborative/src/components/Game.tsx
Due: collaborative

Update package.json
  collaborative/package-lock.json
  collaborative/package.json
Due: collaborative

Remove unnecessary errors in the console
  collaborative/src/components/Game.tsx
Due: collaborative

Group the MVMap updates
  collaborative/src/components/Game.tsx
Due: collaborative

Modify switchConnection
  collaborative/src/components/Game.tsx
Due: collaborative

Add CHANGELOG.md
  collaborative/CHANGELOG.md
Due: collaborative

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Update single-player package.json and package-lock.json
  single-player/package-lock.json
  single-player/package.json
Due: single-player

Update collaborative package.json and package-lock.json
  collaborative/package-lock.json
  collaborative/package.json
Due: collaborative

Update service worker file
  collaborative/public/c-service-worker.js
Due: collaborative

Release v1.1.0
  CHANGELOG.md
  collaborative/package-lock.json
  collaborative/package.json
Due: collaborative

Update npm dependencies
  collaborative/package-lock.json
  collaborative/package.json
Due: collaborative

Bump version
  collaborative/package-lock.json
  collaborative/package.json
Due: collaborative

Update README
  README.md
Due: none

Add License
  LICENSE
Due: none

single player: upgrade deps
  single-player/LICENSE
  single-player/package-lock.json
  single-player/yarn.lock
Due: single-player

Update License
  single-player/package.json
  single-player/src/components/Cell.test.tsx
  single-player/src/components/Cell.tsx
  single-player/src/components/Game.tsx
  single-player/src/components/Grid.test.tsx
  single-player/src/components/Grid.tsx
  single-player/src/components/Header.tsx
  single-player/src/index.css
  single-player/src/index.tsx
Due: single-player

Remove useless license per file
  single-player/src/components/Cell.test.tsx
  single-player/src/components/Cell.tsx
  single-player/src/components/Game.tsx
  single-player/src/components/Grid.test.tsx
  single-player/src/components/Grid.tsx
  single-player/src/components/Header.tsx
  single-player/src/index.css
  single-player/src/index.tsx
Due: single-player

npm audit fix
  single-player/package-lock.json
  single-player/yarn.lock
Due: single-player

Update collaborative license
  collaborative/LICENSE
  collaborative/src/components/Cell.test.tsx
  collaborative/src/components/Cell.tsx
  collaborative/src/components/Game.tsx
  collaborative/src/components/Grid.test.tsx
  collaborative/src/components/Grid.tsx
  collaborative/src/components/Header.tsx
  collaborative/src/components/Submit1Input.tsx
  collaborative/src/index.css
  collaborative/src/index.tsx
Due: collaborative

collaborative: update deps
  collaborative/README.md
  collaborative/package.json
Due: collaborative

Github action mirror to Gitlab
  .github/workflows/mirror.yml
Due: none

Only Mirror from Concordant repo
  .github/workflows/mirror.yml
Due: none
